.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw, 10px);
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 3px;
    cursor: pointer;
}

.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}

@media (max-width: 900px) {
    .sidebar {
        width: 15%;
    }

    .sidebar-option p {
        display: none;
    }

    .sidebar-options {
        padding-left: 0;
        align-items: center;
    }

    .sidebar-option {
        border-right: 1px solid #a9a9a9;
        padding: 10px;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 60px;
    }

    .sidebar-options {
        padding-top: 30px;
    }
}